body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #424242;
    font-size: 13px;
    line-height: 1.3;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.cantainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 2px solid red;
    padding: 10px 0;
}

.logo {
    background: url(../images/logo.png) 0 no-repeat;
    font-size: 37px;
    font-weight: bold;
    text-decoration: none;
    color: #424242;
    padding: 5px 0 5px 80px;
    display: inline-block;
    margin-left: 10px;
}

.header_btn {
    margin-right: 10px;
    float: right;
    font-size: 15px;
    background-color: #de2b24;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.main-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0 10px;
}

.main-nav li {
    display: inline-block;
    margin-right: 25px;
}

.main-nav a {
    color: #424242;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.main-block {
    background: url(../images/main-pic.jpg) 50% no-repeat;
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
}

.main-title {
    font-size: 48px;
    color: #fff;
}

.subtitle {
    font-size: 30px;
    display: block;
}

.main-block_btn {
    font-size: 23px;
    background-color: #f8cd53;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.about-us {
    text-align: center;
    color: #424242;
    padding: 90px 0 70px 0;
}

.about_title {
    font-size: 36px;
    margin: 0;
}

.about_info {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.card {
    max-width: 300px;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;

}

.card a {
    text-decoration: none;
}

.card_box {

    padding-top: 105px;
    color: #424242;
    font-size: 22px;
    margin: 0;
}

.card_facebook {
    background: url(../images/ic-hand.png) 50% 20% no-repeat;
    background-size: 25%;
}

.card_landing {
    background: url(../images/ic-book.png) 50% 20% no-repeat;
    background-size: 25%;
}

.card_management {
    background: url(../images/ic-comment.png) 50% 20% no-repeat;
    background-size: 25%;
}

.approach-block {
    background-color: #f3f3f3;
    padding: 40px 0;
}

.approach-title,
.approach-description {
    text-align: center;
}

.approach-title {
    font-size: 36px;
    margin: 0;
}

.approach-description {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 50px;
}

.steps-block {
    background-color: #fff;
    padding-bottom: 30px;
}

.step-right,
.step-left {
    margin-bottom: 20px;
}

.step-left img {
    float: left;
}

.step-left .step_info {
    padding: 40px 20px 40px 400px;
}

.step-right img {
    float: right;
}

.step-right .step_info {
    padding: 40px 400px 40px 20px;
    text-align: right;
}

.footer {
    padding: 10px 0;
    background-color: #515151;
}

.footer-text {
    font-size: 14px;
    color: #cecece;
    text-align: right;
    font-weight: normal;

}